.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

h1 {
  margin: 0, auto;
  padding: 0;
}

button {
  font-size: calc(10px + 2vmin);
}

.rt {
  color: rgb(255, 247, 21);
}
